@{
    ViewData["Title"] = "Ana Sayfa";
}


<div class="cover-container d-flex w-100 h-100 p-3 mx-auto flex-column">
 <div class="d-flex h-100 text-center text-bg-dark" cz-shortcut-listen="true">

  <main class="px-3">
    <h1>Yurt Yönetim Paneline Hoş Geldiniz.</h1>
    <p class="lead">Yapmak istediğiniz işlemler için öncelikle giriş yapmalısınız. Henüz üye değilseniz üye sağ üst köşeden üye olabilirsiniz</p>
   
  </main>
</div>
</div>

